/* navbar styles */

body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Merriweather', serif;
    color: #2B2C33;
}

* {
    padding: 0px;
    margin: 0px;
}

.ms-navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 0px;
    min-height: 50px;
    border: none;
    margin-bottom: 0px;
}

.ms-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1111111;
}

.ms-main-section {
    padding-top: 75px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.ms-navbar-ttl {
    float: right;
    font-size: 28px;
    padding-top: 18px;
    text-shadow: 0px 0px 0px;
    color: #81bd0b;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-nav {
    min-width: 10%;
    max-width: 300px;
}

.ms-side-nav>li>a,
.navbar-nav>li>a {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.navbar-nav>li.active>a,
.nav>li>a:hover,
.nav>li>a:focus {
    background: none;
}

.navbar-nav>li.active>a,
.navbar-nav>li>a:hover {
    border: none;
    color: #f35326 !important;
    background: transparent;
}

.navbar-nav>li.active>a::after,
.navbar-nav>li>a::after {
    content: "";
    background: #f35326;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.navbar-nav>li.active>a:after,
.navbar-nav>li:hover>a:after {
    transform: scale(1);
}

.navbar-nav>li.active>a:after,
.navbar-nav>li>a:after {
    background: #f35326 none repeat scroll 0% 0%;
}


/* leftside nav */

.ms-side-nav-ctnr {
    width: 300px;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 135px;
    left: -350px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    /* transition: box-shadow .25s; */
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
    border-top: 4px solid rgb(129, 189, 11);
    /* border-top: 4px solid; */
    /* border-image: linear-gradient(315deg, #8FD3C5, #1686D9); */
    /* border-top-left-radius: 5px; */
    border-top-right-radius: 4px;
    max-height: 660px;
}

.ms-side-nav {
    list-style: none;
    margin-bottom: 0px;
}

.ms-side-nav>li {
    margin-bottom: 5px;
}

.ms-side-nav>li>a {
    background: #1686D9;
    background-image: -webkit-linear-gradient(315deg, #8FD3C5, #1686D9);
    background-image: linear-gradient(315deg, #8FD3C5, #1686D9);
    background-color: white;
    padding: 10px 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: all .25s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ms-side-nav>li>a:hover {
    background: #8FD3C5;
    background-image: -webkit-linear-gradient(230deg, #1686D9, #70c1ca, #1686D9);
    background-image: linear-gradient(230deg, #1686D9, #70c1ca, #1686D9);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .25s ease-in-out;
    /* border-left: 4px solid #2da6f1; */
}

.ms-side-nav>li .ms-side-nav>li>a {
    text-decoration: none;
}


/* for animated icon */

.navbar-toggler {
    padding-bottom: 11px;
    padding-top: 8px;
    /* background: #f35326; */
    background: #81bd0b;
    border: none;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    padding-bottom: 12px;
    padding-top: 11px;
    position: absolute;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 11111111;
}

.ms-navbar-toggler {
    /* left: 0; */
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
    /* transition: all .35s ease-in; */
}

.animated-icon1 {
    width: 32px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    /* background: #e65100; */
    background: #ffffff;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* Inner pages styles */

.ms-mn-wrpr {
    background-image: url(../pics/ms-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ms-glb-ctnr {
    padding: 20px 10px;
    /* background: rgba(255, 255, 255, 0.81); */
    background: rgba(183, 183, 183, 0.8);
}

.ms-glb-ctnr-1 {
    padding-top: 60px;
}

.ms-cmn-ctnr-1 {
    margin-bottom: 15px;
}

.ms-cmn-ctnr {
    transition: box-shadow .25s;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 3%;
}

.ms-glb-ttl {
    padding: 10px 0px;
    /* background: #2da6f1; */
    background-image: -webkit-linear-gradient(315deg, #8FD3C5, #1686D9);
    background-image: linear-gradient(315deg, #8FD3C5, #1686D9);
    text-align: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ms-glb-ttl h3 {
    margin: 0px;
}

.ms-glb-bdy {
    padding: 3%;
    background: rgba(255, 255, 255, 0.85);
}

.ms-glb-upld-bdy {
    padding-top: 5%;
    padding-bottom: 5%;
}

.ms-btm-btn-ctnr {
    padding-top: 15px;
    text-align: right;
    margin-right: 15px;
    clear: both;
}

.ms-glb-btn {
    border-radius: 0px;
    padding: 12px 25px;
    font-size: 1.2em;
    background: #2da6f2;
    background: -webkit-linear-gradient(315deg, #8FD3C5, #1686D9);
    background: linear-gradient(315deg, #8FD3C5, #1686D9);
    color: #ffffff;
    outline: none;
    border: none;
    transition: all .25s ease-in-out;
    border-radius: 25px;
}

.ms-upld-inpt {
    display: inline-block !important;
    padding: 11px 15px;
}

.ms-upld-btm-ctnr {
    clear: none;
    padding: 0px;
    display: inline-block;
    text-align: right;
}

.btn-group>.btn:hover,
.ms-frm-ctrl {
    border-radius: 0px;
    padding: 10px 15px;
    height: auto;
    border: 1px solid #8ad1c6;
}

.btn-group>.btn:focus,
.ms-frm-ctrl:focus {
    border-color: #3d9ed3;
    outline: none;
    -webkit-box-shadow: inset 0 3px 5px 0px rgba(0, 0, 0, .075), 0 0 2px 0px rgb(112, 193, 203);
    box-shadow: inset 0 3px 5px 0px rgba(0, 0, 0, .075), 0 0 2px 0px rgb(112, 193, 203);
    background: none;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default,
.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: inherit;
    background: none;
    background-color: #ffffff;
    border-color: #3d9ed3;
    box-shadow: none;
}

.multiselect-container {
    width: 100%;
}

.ms-glb-btn:hover,
.ms-glb-btn:focus {
    color: #ffffff;
    background: -webkit-linear-gradient(315deg, #1686D9, #8FD3C5);
    background: linear-gradient(315deg, #1686D9, #8FD3C5);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    outline: none;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
    padding: 8px;
    margin-bottom: 2px;
    background-image: linear-gradient(315deg, #8FD3C5, #1686D9);
}

.ms-multi-txt {
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.multiselect-container>li>a,
.dropdown-menu>li>a {
    padding: 8px;
    margin-bottom: 2px;
}

.dwnld-icn {
    float: left;
    width: 30px;
    text-align: left;
}

.ms-dwnld p {
    display: inline-block;
    margin-bottom: 0px;
    text-align: right;
}

.ms-blur {
    filter: blur(3px);
}

.ms-table {
    transition: box-shadow .25s;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.ms-tbl {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.ms-table>tbody>tr>td,
table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #8ad1c6;
}

.ms-table>thead>tr>th {
    border-bottom: 2px solid #8ad1c6;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 10px;
}

.ms-multi-dropdown-tgl {
    width: 100%;
    position: relative;
    border-radius: 0px;
    text-align: left;
}

.ms-drop-icon {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 8px;
}

label {
    font-weight: 500;
}

.btn-group {
    width: 100%;
}

.btn-group>.btn:hover {
    background: none;
}

.ms-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}


/* .open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus {} */


/* ---------nav-tabs styles ---------*/

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
    padding: 15px 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #2da6f1 !important;
    background: transparent;
}

.navbar-nav>li>a:hover,
{
    border: none;
    color: white !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #2da6f1;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #2da6f1 none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding-top: 25px;
    min-height: 300px;
}


/* on off toggle button styles */

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #2FCCFF;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.onoffswitch4 {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch4-checkbox {
    display: none;
}

.onoffswitch4-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #27A1CA;
    border-radius: 0px;
}

.onoffswitch4-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch4-inner:before,
.onoffswitch4-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 26px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.onoffswitch4-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #FFFFFF;
    color: #27A1CA;
}

.onoffswitch4-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #FFFFFF;
    color: #666666;
    text-align: right;
}

.onoffswitch4-switch {
    display: block;
    width: 25px;
    margin: 0px;
    background: #27A1CA;
    background-image: -webkit-linear-gradient(315deg, #8FD3C5, #1686D9);
    background-image: linear-gradient(315deg, #8FD3C5, #1686D9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 65px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch4-checkbox:checked+.onoffswitch4-label .onoffswitch4-inner {
    margin-left: 0;
}

.onoffswitch4-checkbox:checked+.onoffswitch4-label .onoffswitch4-switch {
    right: 0px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        min-width: 150px;
        padding-top: 20px;
        /* padding-bottom: 24px; */
    }
    .navbar-nav {
        min-width: 20%;
        max-width: 400px;
    }
    .navbar-nav>li>a {
        text-align: center;
    }
}